/* header */
header {border-bottom:2px solid #000;}
header .top {
    width:calc(100% - 120px);
    margin:0 auto;
    background-color: yellow;
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:80px;
}
header .top h1 {}
header .top h1 a {width:150px; height:29px;}
header .top h1 a img {width:100%;}
header .top form {}
header .top form fieldset {
    border:1px solid #F87D18;
}
header .top form fieldset #search_wrap {
    padding:0 10px;
    width:387px; height:40px;
}
header .top form fieldset #search_btn {background:none; position:relative; top:5px; padding-right:10px;}
header .top form fieldset #search_btn img {}
header .user_menu {}
header .user_menu a {margin-right:15px;}
header .user_menu a:last-child {margin:0;}
header .user_menu a img {}
header nav {width:calc(100% - 120px); margin:0 auto; position:relative;}
header nav .nav_bg {
    background:#fff;
    position:absolute;
    left:0; top:57px;
    width:100%; height:361px; z-index:800;
}
header nav .gnb {
    background-color:aqua;
    display:flex;
    justify-content:center;
    align-items:center;
}
header nav .gnb > li {
    padding:18.5px 0;
    position:relative;
}
header nav .gnb > li:last-child {margin:0;}
header nav .gnb > li > a {
    display:block;
    width:126px;
    font-size:1.125rem;
}
header nav .gnb > li:nth-child(1) > a {color:#F87D18 !important; font-weight:700;}
header nav .gnb > li > .sub1 {
    width:100%;
    position:absolute;
    top:57px;
    z-index:900;
    padding-top:18px;
    height:361px;
    background-color:yellowgreen;
}
header nav .gnb > li > .sub1 > li {
    padding-bottom:35px;
}
header nav .gnb > li .sub1 > li a {}
header nav .gnb > li .sub1 > li .sub {}
header nav .gnb > li .sub1 > li .sub2 li {
    padding:20px 0 0 10px;
}
header nav .gnb > li .sub1 > li .sub2 li a {}
header nav .gnb > li .sub1 a:hover {color:#F87D18 !important;}
/* 슬라이드 */
main #visual_slide {position: relative; z-index:700;}
main #visual_slide::after {
    /* content:'';
    height:600px; width:100%;
    display:block;
    background-color:rgba(0,0,0,0.3);
    position: absolute; top:0; left:0; z-index:300; */
}
main #visual_slide > * {letter-spacing:-0.02;}
main #visual_slide .swiper-wrapper {}
main #visual_slide .swiper-wrapper .swiper-slide {height:600px;}
main #visual_slide .swiper-wrapper .swiper-slide .txt {text-align:center; position:relative; top:50%; transform:translateY(-50%);}
main #visual_slide .swiper-wrapper .swiper-slide .txt p {position:relative; z-index:600; color:#fff;}
main #visual_slide .swiper-wrapper .swiper-slide .txt p:nth-child(1) {font-size:1.563rem; font-weight:700;}
main #visual_slide .swiper-wrapper .swiper-slide .txt p:nth-child(2) {font-size:3.157rem; font-weight:500; margin:20px 0;}
main #visual_slide .swiper-wrapper .swiper-slide .txt p:nth-child(3) {font-size:4.375rem; font-weight:500;}
main #visual_slide .swiper-wrapper .slide1 {
    background-image:url(../images/visual_riviera_dark.jpg);
    background-size:cover;
    background-position:center;
} 
main #visual_slide .swiper-wrapper .slide2 {
    background-image:url(../images/visual_summer1_dark.jpg);
    background-size:cover;
    background-position:center;}
main #visual_slide .swiper-button-prev,
main #visual_slide .swiper-button-next {width:40px; height:40px;}
main #visual_slide .swiper-button-next {right:17%; background: url(../images/arrow_next_ios.png) no-repeat;}
main #visual_slide .swiper-button-prev {left:17%; background: url(../images/arrow_back_ios.png) no-repeat;}
main #visual_slide .swiper-button-next::after,
main #visual_slide .swiper-button-prev::after {display:none;}
/* 퀵 메뉴 */
main .quick_list {
    background-color:lime;
    max-width:1320px;
    margin:0 auto;
    padding:40px 0;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    text-align:center;
}
main .quick_list a {
    display:flex;
    flex-flow:column nowrap;
    margin-right:50px;
}
main .quick_list a:last-child{margin-right:0;}
main .quick_list a img {
    margin-bottom:15px;
}
main .quick_list a span {
    letter-spacing:-0.02em;
}
/* 신제품 */
main .new_product > * {letter-spacing:-0.02em;}
main .new_product {
    padding:100px 0;
}
main .new_product .title h2, main .new_product .title p {text-align:center;}
main .new_product .title h2 {
    font-size:2.369rem;
    font-weight:bold;
    margin-bottom:25px;
}
main .new_product .title p {margin-bottom:50px;}
main .new_product #slide_bg {position: relative;}
main .new_product #new_slide {
    width:calc(100% - 120px);
    max-width:1320px; margin:0 auto;
}
main .new_product #new_slide .swiper-wrapper {}
main .new_product #new_slide .swiper-wrapper .swiper-slide {background-color: aqua;}
main .new_product #new_slide .swiper-wrapper .swiper-slide .product_img {}
main .new_product #new_slide .swiper-wrapper .swiper-slide .product_img a {display:block;}
main .new_product #new_slide .swiper-wrapper .swiper-slide .product_img a img{width:100%;}
main .new_product #new_slide .swiper-wrapper .swiper-slide .info {width:203px;}
main .new_product #new_slide .swiper-wrapper .swiper-slide .info .product_title {
    margin:12px 0;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
main .new_product .new_product .swiper-wrapper .swiper-slide .info .price {}
main .new_product #new_slide .swiper-wrapper .swiper-slide .info .price > * {margin-right:5px;}
main .new_product #new_slide .swiper-wrapper .swiper-slide .info .price span {color:#F87D18; font-weight:500;}
main .new_product #new_slide .swiper-wrapper .swiper-slide .info .price span:nth-child(3) {color:#000; font-weight:400;}
main .new_product #new_slide .swiper-wrapper .swiper-slide .info .price em {font-weight:700; margin:0;}
main .new_product #new_slide .swiper-wrapper .swiper-slide .info .price del {font-size:0.75rem; color:#aaa; text-decoration:line-through}
main .new_product #slide_bg .swiper-button-prev,
main .new_product #slide_bg .swiper-button-next {width:35px; height:35px;}
main .new_product #slide_bg .swiper-button-next {background: url(../images/arrow_next_color.png) no-repeat; margin-right:200px;}
main .new_product #slide_bg .swiper-button-prev {background: url(../images/arrow_back_color.png) no-repeat; margin-left:200px;}
main .new_product #slide_bg .swiper-button-next::after,
main .new_product #slide_bg .swiper-button-prev::after {display:none;}
/* 중간배너 */
.banner_1 > * {letter-spacing:-0.02em;}
.banner_1 {
    background:url(../images/banner_01.jpg) center;
    padding:43px 0 42px;
    text-align:center;
}
.banner_1 p {font-size:1.250rem;}
.banner_1 h1 {font-size:2.500rem; font-weight:700; margin:20px 0;}
.banner_1 a {
    font-weight:500;
    font-size:1.250rem;
    margin:0 auto;
    display: block;
    padding:10px 0;
    width:93px;
    border:1px solid #000;
    transition:all 0.5s linear;
}
.banner_1 a:hover {
    background: #000;
    color:#fff;
}
/* 베스트 상품 */
.best_product > * {letter-spacing:-0.02em;}
.best_product {padding:100px 0;}
.best_product .title h2, .best_product .title p {text-align:center;}
.best_product .title h2 {
    font-size:2.369rem;
    font-weight:bold;
    margin-bottom:25px;
}
.best_product .title p {margin-bottom:50px;}
.best_product #best_slide {
    width:calc(100% - 120px);
    max-width:1320px; margin:0 auto;
}
main .best_product #best_slide .swiper-wrapper {}
main .best_product #best_slide .swiper-wrapper .swiper-slide {background-color: aqua;}
main .best_product #best_slide .swiper-wrapper .swiper-slide .product_img {}
main .best_product #best_slide .swiper-wrapper .swiper-slide .product_img a {display:block;}
main .best_product #best_slide .swiper-wrapper .swiper-slide .product_img a img{width:100%;}
main .best_product #best_slide .swiper-wrapper .swiper-slide .info {}
main .best_product #best_slide .swiper-wrapper .swiper-slide .info .product_title {margin:12px 0;}
main .best_product #best_slide .swiper-wrapper .swiper-slide .info .price {}
main .best_product #best_slide .swiper-wrapper .swiper-slide .info .price > * {margin-right:5px;}
main .best_product #best_slide .swiper-wrapper .swiper-slide .info .price span {color:#F87D18; font-weight:500;}
main .best_product #best_slide .swiper-wrapper .swiper-slide .info .price span:nth-child(3) {color:#000; font-weight:400;}
main .best_product #best_slide .swiper-wrapper .swiper-slide .info .price em {font-weight:700; margin:0;}
main .best_product #best_slide .swiper-wrapper .swiper-slide .info .price del {font-size:0.75rem; color:#aaa; text-decoration:line-through}
main .best_product #best_slide_bg {position: relative;}
main .best_product #best_slide_bg .swiper-button-prev,
main .best_product #best_slide_bg .swiper-button-next {width:35px; height:35px;}
main .best_product #best_slide_bg .swiper-button-next {background: url(../images/arrow_next_color.png) no-repeat; right:200px;}
main .best_product #best_slide_bg .swiper-button-prev {background: url(../images/arrow_back_color.png) no-repeat; left:200px;}
main .best_product #best_slide_bg .swiper-button-next::after,
main .best_product #best_slide_bg .swiper-button-prev::after {display:none;}
/* 컬렉션 */
main .collection > * {letter-spacing:-0.02em;}
main .collection {
    max-width:1320px;
    margin:0 auto;
}
main .collection .title {}
main .collection .title h2, main .collection .title p {text-align:center;}
main .collection .title h2 {
    font-size:2.369rem;
    font-weight:bold;
    margin-bottom:25px;
}
main .collection .title p {}
main .collection .tab_title {
    margin:50px 0;
    background-color: aqua;
    text-align:center;
}
main .collection .tab_title a {
    margin-right:10px;
    display: inline-block;
    padding:10px;
    border-radius:20px;
    color:#F87D18;
    border:1px solid #F87D18;
}
main .collection .tab_title a:last-child {margin:0;}
main .collection .tab_title a:hover {color:#fff; background-color: #F87D18;}
main .collection .tab_title .active {
    color: #fff;
    background-color:#F87D18;
}
main .collection .tab_contents {
    background-color: cornflowerblue;
}
main .collection .tab_contents {
    display:flex; justify-content:space-between;
}
main .collection .tab_contents .left{width:50%; margin-right:19px;}
main .collection .tab_contents .left img {width:100%;}
main .collection .tab_contents .product_wrap {
    width:50%;
    display:flex; flex-flow:row wrap; justify-content:space-between; 
}
main .collection .tab_contents  .product_wrap .product {background: aqua; width:calc(50% - 21px);}
main .collection .tab_contents  .product_wrap .product a {}
main .collection .tab_contents  .product_wrap .product a img {width:100%;}
main .collection .tab_contents  .product_wrap .product p {
    text-align:center;
    margin-top:10px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
/* footer */
footer .notice_slide_bg {
    background:#F87D18;
    height:73px;
}
footer .swiper {margin:0; width:300px;}
footer .notice_slide_bg .notice_slide_wrap {
    margin:30px auto;
    background:yellow;
    width:calc(100% - 120px); height:20px; display:flex; justify-content:center;
}
footer .notice_slide_bg .notice_slide_wrap h2 {color: #fff; font-weight:700; margin-right:20px;}
footer .notice_slide_bg .notice_slide_wrap a{color: #fff;
    background-color: tomato;
}
footer > * {letter-spacing:-0.02em;}
footer {
    display: flex; flex-flow:column nowrap;
}
footer .top {
    text-align:center;
    padding:50px;
}
footer .top .support {
    margin-bottom:30px;
}
footer .top .support h3 {font-weight:500; margin-bottom:14px;}
footer .top .support p em {font-weight:700; font-size:1.333rem; color:#F87D18;}
footer .top .support p {font-size:0.75rem; margin-bottom:10px;}
footer .top .support p:nth-child(5) {margin:0; margin-bottom:14px;}
footer .top .support a {
    margin:0 auto;
    display:block;
    background:#F87D18;
    width: 97px;
    padding:5px 0;
    font-size:0.75rem;
    border-radius:20px;
    color:#fff
}
footer .top  .support a img {position:relative; top:1px;}
footer .top .sns_wrap {}
footer .top .sns_wrap h3 {font-weight:500; margin-bottom:15px;}
footer .top .sns_wrap .sns {margin-bottom:30px;}
footer .top .sns_wrap .sns a {margin-right: 20px;}
footer .top .sns_wrap .sns a:last-child {margin:0;}
footer .top .sns_wrap .sns a img {}
footer .top .address_wrap {}
footer .top .address_wrap p {
    margin:0 auto;
    width:150px;
    margin-bottom:30px;
}
footer .top .address_wrap p img {width:100%;}
footer .top .address_wrap address {font-size:0.75rem; background-color:coral; line-height:17px;}
footer .top .address_wrap address a {font-size:0.75rem;}
footer .btm {padding:20px 0;text-align:center;}
footer .btm .fnb {
    margin-bottom:20px;
}
footer .btm .fnb a {
    display:inline-block;
    font-size:0.75rem;
    color:#aaa;
    margin-right:26px;
}
footer .btm .fnb a:last-child {margin-right:0;}
footer .btm .copy {}
footer .btm .copy span{font-size:0.75rem; color:#aaa;}